---
layout: default
title: Squarebox &gt; home
section_id: home
---

{% include slider.html %}
{% include awards.html %}
{% include staff.html %}
{% include values.html %}
{% include stats.html %}

<div class='full dark-blue no-padding'>
  <div class='two spacing'></div>
  <div class='row'>
    <div class='call-to-action light'>
      <div class='medium-9 large-9 columns'>
        <p class='left'>Building for your proud community</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='mailto:aaron@bywaterdevelopment.com'>Contact BYWATER Now!</a>
      </div>
    </div>
  </div>
</div>

{% include thanks.html %}
{% include testimonials.html bg="bg-2" %}
{% include get-in-touch.html %}
