<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-star'></i>
      <h2>Awards</h2>
      <p>Projects developed by the Bywater principals have been recognized by our industry peers through various prestigious awards and recognitions, as follows:</p>
      <p class='shortline'></p>
    </div>
  </div>
</div>

<ul class='w75'>
  {% for award in site.data.awards %}
    <li class="awardBlock">
        <p>
            <i class="icon-trophy"></i> - {{ award.year }} -
            <span class="bold">{{ award.agency }}</span>
            {{ award.award }}
        </p>
    </li>
  {% endfor %}
</ul>
