<div class='footer centered-text'>
  <div class='row'>
    <div class='large-12 columns'></div>
    <h1 class='light'>{{ site.name }}</h1>
    <div class='socials centered-text'>
      <a href='{{site.data.contact.contactEmail}}'><i class='icon-mail white'></i></a>
      <a href='tel:{{site.data.contact.contactPhone}}'><i class='icon-phone white'></i></a>
      <a href='{{site.data.contact.twitter}}'><i class='icon-twitter white'></i></a>
      <a href="{{site.data.contact.linkedIn}}"><i class='icon-linkedin white'></i></a>
    </div>
    <div class='socials centered-text'>
      <a href="{{site.data.contact.mapLink}}"> #{{site.data.contact.address}}</a>
    </div>
    <p class='copyright'>Copyright Bywater Development Group</p>
  </div>
</div>
