<div class='full'>
  <div class='row light-grey'>
    <div class='large-10 small-centered columns'>
      <div class='special-title centered-text'>
        <i class='icon-mail'></i>
        <h2>Get In touch with us</h2>
        <p>To learn more about what we do and how we can help in your community please contact us.</p>
        <div class='medium-4 large-4 center em3'>
          <a class='button' href='mailto:aaron@bywaterdevelopment.com'>Contact BYWATER Now!</a>
        </div>
      </div>
    </div>
  </div>
</div>
