<div class='full light-sky'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-users'></i>
      <h2>Who we are</h2>
      <p>We are happy to know you are happy</p>
      <p class='shortline'></p>
    </div>
    <div class='spacing'></div>
    <div class='spacing'></div>
  </div>
  <div class='row'>
    <div class='medium-6 large-6 columns'>
      <p>
        <span class='drop-letters'>We</span>
        specialize in developing, planning, financing, and implementing transformative affordable housing developments throughout the mid-western and southern regions of the United States. We cultivate partnerships with communities, working together to achieve local community development goals through our focus on the preservation and re-positioning of existing affordable housing—and the development of new affordable and mixed-income housing for families and seniors. The Bywater Team possesses a wide range of experience, talent, and dedication in all aspects of the affordable housing development industry. Utilizing our skills in structured finance, project planning, construction oversight, and asset management—along with a diligent work ethic—we strive to undertake developments that become real assets to the communities in which they are located.</p>
    </div>
    <div class='medium-6 large-6 columns'>
      <ul class='bars'>
        {% for bar in site.data.bar-chart %}
          <li>
            <h4>
              {{bar.title}}
              <strong>{{bar.percent}}%</strong>
            </h4>
            <p class='highlighted' data-percent='{{bar.percent}}'></p>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class='staff'>
  <div class='full light-sky no-padding'>
    <div class='row'>
      {% for staff in site.data.staff.staff %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='medium-3 large-3 columns'>
          <div class='staff centered-text {{active_class}}' data-target='#staff-{{forloop.index}}'>
            <img src='/images/{{staff.image}}'>
            <h3>{{staff.name}}</h3>
            <p class='position'>{{staff.position}}</p>
            <p class='active-line'></p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='full light-sky'>
    <div class='row'>
      {% for staff in site.data.staff.staff %}
        {% if forloop.first %}
          {% assign active_class = "active" %}
        {% else %}
          {% assign active_class = "" %}
        {% endif %}
        <div class='staff-intro {{active_class}}' id='staff-{{forloop.index}}'>
          <div class='medium-8 large-8 columns'>
            <p>{{staff.desc}}</p>
          </div>
          <div class='medium-4 large-4 columns'>
            <div class='socials'>
              {% for social in site.data.staff.staff.socials %}
                <a href='{{social.link}}'>
                  <i class='icon-{{social.name}} {{social.color}}'></i>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>
