<div class='full white centered-text'>
  <div class='row'>
    <div class='special-title centered-text'>
      <h2>Attitude for Gratitude</h2>
      <p>We work with some of the best people in the world! Here are the four most recent people we want to thank for working with us:</p>
    </div>
  </div>
  <div class='spacing'></div>
  <div class='row'>
    {% for gratitude in site.data.thanks %}
      {% if include.shape %}
        {% assign shape = include.shape %}
      {% else %}
        {% assign shape = "boxed" %}
      {% endif %}
      <div class='medium-3 large-3 columns icon-text-{{shape}}'>
        <i class='icon-{{ gratitude.icon }}'></i>
        <h3>{{ gratitude.title }}</h3>
        <p>{{ gratitude.desc }}</p>
      </div>
    {% endfor %}
  </div>
</div>
