// Typeface(s) and Fonts
//
$sans: "klavika-web", sans-serif;
$condensed: "klavika-web-disp-cond", sans-serif;
//$monospace: "Courier New", monospace;
//$serif       // "Source Serif Pro"
//$slab        // "Museo Slab"
$cursive: "learning-curve";
$thick: "klavika-web-display";       // "Quatro"


// Weight(s)
// Related to KLAVIKA (Typekit)
//
$hairline:200;
$light: 300;
$normal: 400;
$bold: 700;
$heavy:900;



// Brand Colors
//
$water: #2b3c8f;
$sky: #00c6e8;
$dew: #daf519;
$berry: #f52619;



// General Colors
//
$white: #fff;
$black: #000;
$charcoal: #333;
$graphite: #ccc;
$silver: #f5f5f5;
$dirt: #e8e8e2;
//$red: #f00;
$yellow: #ff0;
$gold: #f1c40f;

// Apply color to component
//
//$brandmark-color: $red;
$text-link-color: $sky;
$text-link-color-hover: $sky;

$nav-link-color: $sky;
$button-color: $sky;
$error-text-color: $berry;
$selection-color: $sky;
$codeColor : $graphite;

// Utilities
//
$default-borderRadius: 5px;



// Place Holders
%box-shadow-bottom {
    box-shadow: 0 1px 0 $graphite;
}



@mixin bp($point) {

  $bp-iphone: "only screen and (min-device-width : 320px) and (max-device-width : 568px)";

  $bp-min: "(max-width: 480px)";
  $bp-sm: "(max-width: 600px)";
  $bp-med: "(max-width: 1024px)";
  $bp-lg: "(max-width: 1250px)";
  $bp-max: "(max-width: 1600px)";

  // http://davidwalsh.name/write-media-queries-sass
  $bp-retina: "only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)";

  $bp-print: "print";

  @if $point == bp-iphone {
    @media #{$bp-iphone} { @content; }
  }
  @else if $point == bp-retina {
    @media #{$bp-retina} { @content; }
  }
  @else if $point == bp-min {
    @media #{$bp-min} { @content; }
  }
  @else if $point == bp-sm {
    @media #{$bp-sm} { @content; }
  }
  @else if $point == bp-med {
    @media #{$bp-med}  { @content; }
  }
  @else if $point == bp-lg {
    @media #{$bp-lg}  { @content; }
  }
  @else if $point == bp-max {
    @media #{$bp-max}  { @content; }
  }

  @else if $point == bp-print {
    @media #{$bp-print}  { @content; }
  }
}
