---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-phone'></i>
      <h2>{{ page.title }}</h2>
      <p>How can we help?</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>


    <div class="row">
        <div class='medium-6 large-6 center em2'>
            {{ content }}
            <a href='{{site.data.contact.contactEmail}}'><i class='icon-mail grey'></i> - Email</a><br>
            <a href='tel:{{site.data.contact.contactPhone}}'><i class='icon-phone grey'></i> - {{site.data.contact.contactPhone}}</a><br>
            <a href="{{site.data.contact.mapLink}}"><i class='icon-map grey'></i> - #{{site.data.contact.address}}</a><br>
            <a href="{{site.data.contact.twitter}}"><i class='icon-twitter grey'></i> - @Bywater_Dev</a><br>
            <a href="{{site.data.contact.linkedIn}}"><i class='icon-linkedin grey'></i> - LinkedIn</a>
        </div>
    </div>
</div>
