---
layout: default
---

<div class='full'>
  <div class='row'>
    <div class='special-title centered-text'>
      <i class='icon-phone'></i>
      <h2>{{ page.title }}</h2>
      <p>How can we help?</p>
      <p class='shortline'></p>
    </div>
    <div class='two spacing'></div>
  </div>


    <div class="row">
        <div class='medium-6 large-6 center em2'>
            {{ content }}

            <a href='aaron@bywaterdevelopment.com'><i class='icon-mail grey'></i>Email</a><br>
            <a href='tel:314-304-2440'><i class='icon-phone grey'></i> - 314-304-2440</a><br>
            <a href="https://www.google.com/maps/place/8+Church+St,+Ferguson,+MO+63135/@38.7448417,-90.3047087,15z/data=!4m2!3m1!1s0x87df360484e0f84d:0xac180851dd7e39c0"><i class='icon-map grey'></i> - #8 Church St. St. Louis, MO 63135</a>
        </div>
    </div>
</div>
